.div-js{
    border-top: .1rem rgb(1, 1, 1) solid;
    background-color: rgb(253, 1, 1);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-bottom: 15rem;
}
.titulo-seccion{
    color: rgb(253, 253, 253);
    font-size: 3rem;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    margin-top: .7rem;
    padding-bottom: 1rem;
}
.contenedor-img{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 5rem;
}
.foto-js{
    border-radius: 5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*CEL*/
@media screen and (max-width: 361px) {
    .div-js{
        padding-bottom: 0;
    }
    .titulo-seccion{
        font-size: 1.9rem;
        margin-top: .3rem;
        padding-bottom: .5rem;
    }
}

/*SMART*/
@media screen and (min-width: 361px) and (max-width: 450px) {
    .div-js{
        padding-bottom: 0;
    }
    .titulo-seccion{
        font-size: 1.5rem;
        margin-top: .3rem;
        padding-bottom: .5rem;
    }
}

/*TABLET*/
@media screen and (min-width: 450px) and (max-width: 687px) {
    .div-js{
        padding-bottom: 0;
    }
    .titulo-seccion{
        font-size: 2.1rem;
    }
}

/* TABLET XL */
@media screen and (min-width: 687px) and (max-width: 900px) {
    .div-js{
        padding-bottom: 0;
    }
    .titulo-seccion{
        font-size: 2.5rem;
    }
}

/* DESKTOP */
@media screen and (min-width: 900px) and (max-width: 1050px) {
    .div-js{
        padding-bottom: 0;
    }
    .titulo-seccion{
        font-size: 2.9rem;
    }
}

/* WIDE */
@media screen and (min-width: 1050px) and (max-width: 1350px) {
    .div-js{
        padding-bottom: 15rem;
    }
    .titulo-seccion{
        font-size: 3rem;
    }
}