.div-react{
    border-top: .1rem rgb(1, 1, 1) solid;
    background-color: rgb(235, 130, 245);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding-bottom: 4rem;
}
.link-iframe{
    margin-top: .8rem;
    margin-bottom: .8rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    height: auto;
    width: auto;
}
.titulo-seccion{
    color: rgb(253, 253, 253);
    font-size: 3rem;
    z-index: 100;
}
.contenedor-img{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    box-shadow: .1rem .1rem 2rem rgb(55, 54, 54);
}
iframe{
    display: flex;
    width: 100%;
    height: 100vh;
    border-radius: 1rem;
}

/*CEL*/
@media screen and (max-width: 361px) {
    .contenedor-img{
        width: 85%;
    }
    .div-react{
        padding-bottom: 3rem;
    }
    .link-iframe{
        margin-top: .4rem;
        margin-bottom: .4rem;
    }
    .titulo-seccion{
        font-size: 1.9rem;
    }
}

/*SMART*/
@media screen and (min-width: 361px) and (max-width: 450px) {
    .contenedor-img{
        width: 85%;
    }
    .div-react{
        padding-bottom: 3rem;
    }
    .link-iframe{
        margin-top: .4rem;
        margin-bottom: .4rem;
    }
    .titulo-seccion{
        font-size: 1.5rem;
    }
}

/*TABLET*/
@media screen and (min-width: 450px) and (max-width: 687px) {
    .div-react{
        padding-bottom: 3.5rem;
    }
    .link-iframe{
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    .titulo-seccion{
        font-size: 2.1rem;
    }
}

/* TABLET XL */
@media screen and (min-width: 687px) and (max-width: 900px) {
    .link-iframe{
        margin-top: .6rem;
        margin-bottom: .6rem;
    }
    .titulo-seccion{
        font-size: 2.5rem;
    }
}

/* DESKTOP */
@media screen and (min-width: 900px) and (max-width: 1050px) {
    .link-iframe{
        margin-top: .7rem;
        margin-bottom: .7rem;
    }
    .titulo-seccion{
        font-size: 2.9rem;
    }
}

/* WIDE */
@media screen and (min-width: 1050px) and (max-width: 1350px) {
    .link-iframe{
        margin-top: .8rem;
        margin-bottom: .8rem;
    }
    .titulo-seccion{
        font-size: 3rem;
    }
}